.section-head {
  padding-bottom: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  border-bottom: 0.5px dashed var(--c-gray);

  @media (max-width: 767px) {
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 3rem;
    row-gap: 3rem;
  }

  &::after {
    content: var(--i-arrow-main);

    width: 1.7rem;
    height: 1.7rem;

    transform: rotate(90deg);

    @media (max-width: 767px) {
      width: 2.8rem;
      height: 2.8rem;
    }
  }

  // .section-head__heading

  &__heading {
  }

  // .section-head__subtitle

  &__subtitle {
    font: var(--txt-small);

    &::before {
      content: '[ ';

      color: var(--c-gray);
    }
    &::after {
      content: ' ]';

      color: var(--c-gray);
    }

    @media (max-width: 767px) {
      grid-column: 1/3;
      grid-row: 2/3;

      text-align: center;
    }
  }
}
.bg {
  &::before {
    content: '';
    position: fixed;
    z-index: 3;
    height: 300%;
    width: 300%;
    left: -100%;
    top: -100%;
    background-image: url(@img/67058cdc24b90dd798e2fa73_grain-texture.webp);
    animation-name: grained;
    animation-iteration-count: infinite;
    animation-duration: 0.5s;
    animation-timing-function: steps(20);
    opacity: 0.18;
    pointer-events: none;
  }
}

._mobile-only {
  display: none;
}

@keyframes grained {
  0% {
    transform: translate(-10%, 10%);
  }
  10% {
    transform: translate(-25%, 0%);
  }
  20% {
    transform: translate(-30%, 10%);
  }
  30% {
    transform: translate(-30%, 30%);
  }
  50% {
    transform: translate(-15%, 10%);
  }
  60% {
    transform: translate(-20%, 20%);
  }
  70% {
    transform: translate(-5%, 20%);
  }
  80% {
    transform: translate(-25%, 5%);
  }
  90% {
    transform: translate(-30%, 25%);
  }
  100% {
    transform: translate(-10%, 10%);
  }
}
