.marquee-container {
  position: relative;
}

.marquee {
  display: flex;
  width: 100%;

  overflow: hidden;

  &_tilt {
    position: absolute;

    width: 150%;

    color: var(--c-bg);

    background-color: var(--c-primary);

    transform: rotate(5deg) translate(-3rem, -3rem);

    .marquee__txt {
      &::before {
        content: var(--i-globe-white);
      }
    }
  }

  // .marquee__rail

  &__rail {
    padding: 2.3rem 0;

    display: flex;
    width: fit-content;
    flex: auto;
    flex-direction: row;
    border-top: 1px solid var(--c-gray);
    border-bottom: 1px solid var(--c-gray);
  }

  // .marquee__txt

  &__txt {
    padding: 0 1.5rem;

    display: inline-flex;
    align-items: center;
    column-gap: 2.5rem;
    flex-shrink: 0;

    font: var(--txt-small);
    white-space: nowrap;

    &::before {
      content: var(--i-globe);

      flex: 0 0 2.4rem;
      width: 2.4rem;
      height: 2.4rem;
    }
  }
}
