.marquee-container {
  position: relative;
}

.marquee {
  position: relative;

  display: flex;
  width: 100%;

  overflow: hidden;

  &_tilt {
    position: absolute;

    width: 150%;

    color: var(--c-bg);

    background-color: var(--c-primary);

    transform: rotate(5deg) translate(-3rem, -3rem);

    .marquee__rail {
      border: none;
    }

    .marquee__txt {
      &::before {
        content: var(--i-globe-white);
      }
    }
  }

  // .marquee__rail

  &__rail {
    position: absolute;

    padding: 1.2rem 0;

    display: flex;
    width: 200%;
    column-gap: 1.5rem;
    flex: auto;
    flex-direction: row;
    border-top: 0.5px solid var(--c-gray);
    border-bottom: 0.5px solid var(--c-gray);
    overflow: hidden;

    animation: marquee 10s linear infinite;

    @media (max-width: 767px) {
      padding: 3.2rem 0;
    }
  }

  // .marquee__txt

  &__txt {
    padding: 0 1rem;

    display: inline-flex;
    align-items: center;
    column-gap: 2rem;
    float: left;
    width: 50%;

    font: var(--txt-small);
    white-space: nowrap;

    &::before {
      content: var(--i-globe);

      flex: 0 0 2rem;
      width: 2rem;
      height: 2rem;

      @media (max-width: 767px) {
        flex: 0 0 4rem;
        width: 4rem;
        height: 4rem;
      }
    }
  }
}

@keyframes marquee {
  0% {
    left: 0;
  }
  100% {
    left: -100%;
  }
}
