.nav {
  position: fixed;
  z-index: 100;
  top: 0;
  right: 0;

  display: flex;
  width: 13rem;
  height: 100dvh;
  border-left: 1px solid var(--c-gray);

  background-color: rgba(255, 255, 255, 0.5);

  @media (max-width: 767px) {
    display: none;
  }

  // .nav__list

  &__list {
    margin: 0 auto;
    padding-top: 18rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 6rem;
  }

  // .nav__item

  &__item {
    cursor: pointer;

    &:last-child {
      position: relative;

      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      row-gap: 4rem;

      &::after {
        content: var(--i-arrows);

        width: 2.8rem;
        height: 2.8rem;

        transform: translate(-0.5rem, 0) rotate(90deg);
        animation: moveArrows 5.5s ease-in-out 1s infinite;
        transition: opacity 0.5s ease-in-out;
      }
    }

    @media (any-hover: hover) {
      &:hover {
        color: var(--c-primary);
      }
    }
  }

  // .nav__item-content

  &__item-content {
    writing-mode: tb-rl;
    font: var(--txt-semi-sb);

    color: var(--c-gray);

    transition: color 0.5s ease-in-out;

    &._is-active {
      color: var(--c-primary);
    }
  }

  &__item-ignore .nav__item-content {
    color: var(--c-primary);
  }
}

@keyframes moveArrows {
  50% {
    transform: translate(-0.5rem, 2rem) rotate(90deg);
  }
  100% {
    transform: translate(-0.5rem, 0) rotate(90deg);
  }
}
