.h-heavy {
  font: var(--h-heavy);
  letter-spacing: -0.1em;
  text-transform: lowercase;

  &::before {
    content: '(-';

    margin-right: 13rem;
  }

  &::after {
    content: ')*';
  }
}

.h-main,
.h-main__txt {
  display: inline-flex;
  align-items: flex-start;
  column-gap: 1rem;

  @media (max-width: 767px) {
    column-gap: 2rem;
  }
}
.h-main {
  &_large {
    &::after,
    .h-main__txt::after {
      display: none;
    }
  }
  &__txt {
    font: var(--h-main);
    white-space: nowrap;
  }

  &::before,
  &::after {
    transform: translateY(0.5rem);
  }

  &::before,
  &::after,
  &__txt::after {
    content: var(--arrow-tr);

    flex: 0 0 1.6rem;
    width: 1.6rem;
    height: 1.3rem;

    line-height: 0;

    @media (max-width: 767px) {
      flex: 0 0 2.1rem;
      width: 2.1rem;
      height: 2.1rem;
    }
  }

  &__txt {
    align-items: flex-end;

    &::after {
      transform: translateY(-0.5rem);
    }
  }
}

.h-secondary {
  font: var(--h-secondary);
  &::before {
    content: '>> ';
  }
}

.h-base {
  font: var(--h-main);
}

.paragraph {
  &::before {
    content: '(!)';

    font-size: 2rem;
    font-weight: 600;
    letter-spacing: 0.3em;

    @media (max-width: 767px) {
      font-size: 2.8rem;
    }
  }
}
