.about {
  position: relative;
  z-index: 2;

  background-color: var(--c-bg);
  overflow: hidden;

  // .about__container

  &__container {
    padding: 15rem 0 10rem 0;

    display: flex;
    align-items: center;
  }

  // .about__content

  &__content {
    padding: 0 10rem;

    display: grid;
    grid-template-columns: auto 52rem;
    column-gap: 6rem;
    align-items: start;
    min-height: 40rem;
    width: 100%;

    overflow: hidden;
  }

  // .about__wrap

  &__wrap {
    display: grid;
    grid-template-columns: 1fr 40rem;
    column-gap: 4rem;
    width: 90.4rem;
  }

  // .about__heading

  &__heading {
    margin-bottom: 5rem;

    grid-column: span 2;

    .h-main__txt {
      white-space: wrap;
    }
  }

  &__logo {
    width: 28rem;
  }

  &__wavelines {
    width: 16rem;
  }

  &__image-wrap {
    position: relative;

    display: flex;
    align-items: center;
    justify-content: center;
    width: 70rem;
    height: 100%;

    background-color: var(--c-primary);

    transform: translate(-30%, -3rem);

    img {
      width: 12rem;
    }

    video {
      width: 100%;
      height: 100%;

      object-fit: cover;
    }
  }

  // .about__txt

  &__txt {
  }

  // .about__text-wrap

  &__text-wrap {
    display: flex;
    flex-direction: column;
    row-gap: 6rem;
  }

  // .about__paragraphs

  &__paragraphs {
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
  }

  &__features {
    position: relative;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 3rem;
  }

  // .about__scroll

  &__scroll {
  }
}

.ft-item {
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
  width: 30rem;

  // .ft-item__heading

  &__heading,
  &__idx {
    font: var(--txt-semi);
    font-weight: 500;
  }

  // .ft-item__text

  &__text {
  }

  // .ft-item__idx

  &__idx {
    &::before {
      content: '[ ';
    }
    &::after {
      content: ' ]';
    }
  }
}
