.blog {
  // .blog__container

  &__container,
  &__head {
    display: flex;
    flex-direction: column;
    row-gap: 1.2rem;
  }

  // .blog__head

  &__head {
  }

  // .blog__row

  &__row {
    display: flex;
    justify-content: space-between;
  }

  // .blog__heading

  &__heading {
  }

  // .blog__counter

  &__counter {
    align-self: flex-end;
  }

  // .blog__count

  &__count {
  }

  // .blog__filters-slider

  &__filters-slider {
    align-self: center;

    &.swiper {
      margin: 0;
    }
  }

  // .blog__filters-wrapper

  &__filters-wrapper {
  }

  // .blog__filters-slide

  &__filters-slide {
    cursor: pointer;
  }

  // .blog__search

  &__search {
  }

  // .blog__input

  &__input {
  }

  // .blog__body

  &__body {
  }

  &__controls {
  }

  // .blog__slider

  &__slider {
    margin-bottom: 5rem;

    &.swiper {
      overflow: visible;
    }
  }

  // .blog__wrapper

  &__wrapper {
  }

  // .blog__slide

  &__slide {
  }
}

.blog-card {
  padding-right: 2rem;

  display: flex;
  flex-direction: column;
  row-gap: 2rem;
  border-right: 1px dashed var(--c-primary);
  // .blog-card__image-wrap

  &__image-wrap {
    height: 36.7rem;

    img {
      height: 100%;
      border-radius: 0.6rem;

      object-fit: cover;
    }
  }

  // .blog-card__row

  &__row {
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
  }

  // .blog-card__heading

  &__heading {
  }

  // .blog-card__date

  &__date {
    font: var(--txt-small);
    color: var(--c-gray);
  }

  // .blog-card__controls

  &__controls {
  }

  // .blog-card__nav-btn

  &__nav-btn {
  }
}
