.faq {
  @media (max-width: 767px) {
    margin-bottom: 9rem;
  }
  // .faq__container

  &__container {
    padding: 12rem 0 15rem 0;

    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 9rem;
  }

  &__head {
  }

  // .faq__body

  &__body {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  // .faq__accordion

  &__accordion {
    display: grid;
    gap: 2rem;
    width: 100%;

    @media (min-width: 767.1px) {
      grid-template-columns: 1fr 1fr;
      gap: 3rem;
    }
  }

  // .faq__item

  &__item {
  }
}
