.footer-upper {
  position: relative;
  z-index: 5;

  padding-bottom: calc(10rem + 6.5rem);
  padding-top: 5rem;

  background-color: var(--c-bg);

  @media (max-width: 767px) {
    padding-bottom: 10rem;
    padding-top: 10rem;
  }

  &__fields-inner {
    grid-column: span 2;
  }

  &__hint {
    position: relative;

    padding-left: 1rem;

    display: inline-flex;
    align-items: center;
    column-gap: 1rem;

    &::before {
      content: '';

      position: absolute;
      left: 0;
      top: 50%;

      width: 4px;
      height: 4px;
      border-radius: 50%;

      background-color: var(--c-primary);

      transform: translateY(-50%);
    }

    @media (max-width: 767px) {
      display: none;
    }
  }

  // .footer-upper__container

  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: var(--c-bg);

    .mainpage & {
      @media (min-width: 767.1px) {
        padding-right: 11rem;
      }
    }
  }

  &__contacts {
    position: relative;

    margin-bottom: 4rem;

    @media (max-width: 767px) {
      margin-bottom: 10rem;
    }
  }

  &__heading {
    margin-bottom: 4rem;

    @media (max-width: 767px) {
      margin-bottom: 2rem;
    }
  }

  // .footer-upper__canvas

  &__canvas {
    width: 100%;
  }

  &__fields-wrap {
    display: flex;
    flex-direction: column;
  }

  &__form {
    display: flex;
    flex-direction: column;
    width: 100%;

    @media (min-width: 767.1px) {
      .field_textarea,
      .btn-secondary {
        grid-column: span 2;
      }
    }
  }

  // .footer-upper__row

  // .footer-upper__badges

  &__badges {
    display: flex;
    column-gap: 4rem;
  }

  // .footer-upper__badge

  &__badge {
  }

  &__group {
    margin-bottom: 2rem;
    padding-bottom: 1rem;

    display: flex;
    flex-direction: column;

    border-bottom: 1px solid var(--c-gray);

    @media (min-width: 767.1px) {
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
    }
  }

  &__contacts {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    column-gap: 1rem;
  }

  // .footer-upper__contacts-item

  &__contacts-item {
    font: var(--txt-semi);

    &:not(:last-child) {
      display: inline-flex;
      align-items: center;
      column-gap: 1rem;

      &::after {
        content: '|';
      }
    }

    &:last-child {
      opacity: 0.5;
    }
  }

  // .footer-upper__fields

  &__fields {
    display: grid;
    gap: 2rem;
    width: 100%;

    @media (min-width: 767.1px) {
      grid-template-columns: repeat(2, 1fr);
      gap: 1rem;
    }
  }

  // .footer-upper__field

  &__field {
  }
}

.badge {
  position: relative;

  display: inline-flex;

  // .badge__input

  &__input {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;

    appearance: none;

    &:checked + .badge__text {
      opacity: 1;
    }
  }

  // .badge__text

  &__text {
    opacity: 0.4;

    transition: opacity 0.5s ease-in-out;
  }
}
