.hero {
  position: relative;

  overflow: hidden;

  .vjs_video_3-dimensions {
    position: absolute;
  }

  &__svg-wrap {
    position: absolute;
    top: 0;
    left: 0;

    opacity: 0.7;

    @media (max-width: 767px) {
      display: none;
    }

    svg {
      width: 100vw;
    }
  }

  // .hero__container

  &__container {
    position: relative;
    z-index: 2;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    min-height: 99rem;

    @media (max-width: 767px) {
      grid-template: 1fr / 1fr;
      min-height: 133.4rem;
    }
  }

  // .hero__center

  &__center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 4.4rem;
    min-width: 0;

    @media (min-width: 767.9px) {
      grid-column: 2/3;
    }

    @media (max-width: 767px) {
      padding-top: 34rem;
    }
  }

  // .hero__logo

  &__logo {
    &._animate {
      path:nth-child(1) {
        animation: flicker 2s ease-in-out 1.5s;
      }
      path:nth-child(2) {
        animation: flicker 2s ease-in-out;
      }
      path:nth-child(3) {
        animation: flicker 2s ease-in-out 1s;
      }
    }
    svg {
      width: 52.4rem;
      height: 14.4rem;
    }
  }

  // .hero__btn

  &__btn {
  }

  // .hero__text-content

  &__text-content {
    padding-bottom: 15.5rem;

    display: flex;
    flex-direction: column;
    row-gap: 2.5rem;

    @media (min-width: 767.1px) {
      padding-bottom: 12.6rem;
      padding-right: 4rem;

      justify-content: flex-end;
      align-items: flex-end;
      row-gap: 1.5rem;
    }
  }

  // .hero__title

  &__title {
    margin-right: 21rem;
  }

  // .hero__text-wrap

  &__text-wrap {
    padding-left: 12rem;

    display: flex;
    align-items: flex-end;
    flex-direction: column;
    row-gap: 1.5rem;
    max-width: 73rem;

    @media (min-width: 767.1px) {
      padding-left: 0;

      max-width: 46.1rem;
      row-gap: 0;
    }
  }

  // .hero__text

  &__text {
    text-align: justify;

    @media (min-width: 767.1px) {
      font: var(--txt-small);
    }
  }

  // .hero__bg

  &__bg,
  &__video {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;

    opacity: 0.9;
  }

  &__video {
    object-fit: cover;

    @media (max-width: 767px) {
      object-position: -8rem -2rem;
      height: 102%;
    }
  }
}

@keyframes flicker {
  0%,
  2%,
  35%,
  37%,
  39%,
  41%,
  100% {
    opacity: 1;
  }
  0%,
  3%,
  34%,
  36%,
  38%,
  40% {
    opacity: 0;
  }
}
