.next-project {
  padding: 10rem 0;

  // .next-project__container

  &__container {
    position: relative;

    display: flex;
    flex-direction: column;
    align-items: center;

    overflow: hidden;

    @media (min-width: 48.01em) {
      height: 90rem;
    }
  }

  // .next-project__bg-text

  &__bg-text {
    margin-bottom: 3.5rem;

    @media (max-width: 48em) {
      display: none;
    }
  }

  // .next-project__heading

  &__heading {
    margin-bottom: 16rem;

    @media (max-width: 48em) {
      margin-bottom: 6rem;
    }
  }

  // .next-project__wrap

  &__wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 4.8rem;

    @media (min-width: 48.01em) {
      position: absolute;
      top: 30rem;
      left: 0;

      width: 100%;
      height: 100%;
    }
  }

  // .next-project__image-wrap

  &__image-wrap {
    position: relative;

    height: 41rem;

    @media (any-hover: hover) {
      &:hover {
        &::before {
          opacity: 0.31;
        }
        .next-project__btn {
          opacity: 1;
        }
      }
    }

    @media (min-width: 48.01em) {
      width: 149.2rem;
      height: 86.7rem;

      transform: scale(0.75);
    }

    &::before {
      content: '';

      position: absolute;
      z-index: 1;
      top: 0;
      left: 0;

      width: 100%;
      height: 100%;

      background-color: #000000;
      opacity: 0.31;

      transition: opacity 0.3s ease;

      @media (min-width: 48.01em) {
        opacity: 0;
      }
    }
  }

  // .next-project__image

  &__image {
    height: 100%;

    object-fit: cover;
  }

  // .next-project__btn

  &__btn {
    position: absolute;
    z-index: 2;
    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);

    transition: opacity 0.3s ease;

    @media (min-width: 48.01em) {
      opacity: 0;
    }
  }

  // .next-project__scroll-btn

  &__scroll-btn {
  }
}
