.request {
  position: relative;

  padding: 15rem 0;
  margin: 15rem 0 5rem 0;

  @media (min-width: 767.1px) {
    padding: 12rem 0;
    margin: 8rem 0;
  }

  &::before,
  &::after {
    content: '';

    position: absolute;
    z-index: -1;
    top: 0;

    height: 100%;
    width: 65.3rem;

    background: url(@img/content/bg2.svg) center / contain repeat;
    background-attachment: fixed;
    background-size: 72rem;
    background-position-x: left;

    @media (max-width: 767px) {
      width: 19rem;

      background-position-x: -45rem;
    }
  }
  &::before {
    left: 0;
  }

  &::after {
    right: 0;

    background-position-x: right;

    @media (max-width: 767px) {
      background-position-x: 52rem;
    }
  }

  // .request__container

  &__container {
    position: relative;
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    @media (max-width: 767px) {
      row-gap: 8rem;
    }
  }

  // .request__heading

  &__heading {
    @media (min-width: 767.1px) {
      margin-bottom: 6.5rem;
    }
  }

  // .request__txt

  &__txt {
    max-width: 56.9rem;

    text-align: justify;

    @media (min-width: 767.1px) {
      margin-bottom: 7.2rem;

      max-width: 44.9rem;
    }
  }

  // .request__group

  &__group {
    .angle-btn {
      padding: 3rem 3.2rem;

      @media (max-width: 767px) {
        padding: 4rem 3.2rem;
      }
    }
    .angle-btn__txt {
      max-width: 8.2rem;

      text-align: center;
      white-space: wrap;

      @media (max-width: 767px) {
        max-width: 23.2rem;
      }
    }
  }
}
