.reviews {
  @media (max-width: 767px) {
    margin-bottom: 15rem;
  }

  // .reviews__container

  &__container {
    position: relative;

    padding: 12rem 0;

    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 10rem;

    &::before,
    &::after {
      content: '';

      position: absolute;
      top: 50%;

      width: 20rem;
      height: 60%;

      background: url(@img/content/bg.svg) center / cover repeat;
      background-attachment: fixed;

      transform: translateY(-50%);

      @media (min-width: 767.1px) {
        background-size: 72rem;
        width: 15%;
      }
    }
    &::before {
      left: -3.2rem;

      @media (min-width: 767.1px) {
        left: -15.2rem;
      }
    }
    &::after {
      right: -3.2rem;

      @media (min-width: 767.1px) {
        right: -15.2rem;
      }
    }
  }

  // .reviews__heading

  &__heading {
  }

  // .reviews__body

  &__body {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 5rem;
    width: 100%;

    @media (max-width: 767px) {
      row-gap: 2rem;
    }
  }

  // .reviews__slider

  &__slider {
    &.swiper {
      width: 127rem;

      overflow: visible;

      @media (max-width: 767px) {
        width: 100%;
      }
    }
  }

  // .reviews__wrapper

  &__wrapper {
  }

  // .reviews__slide

  &__slide {
  }
}

.reviews-card {
  position: relative;

  transition: opacity 0.3s ease;

  &.swiper-slide {
    &:not(.swiper-slide-active) {
      opacity: 0;
    }
  }

  &__inner {
    padding: 4rem 6rem;

    display: flex;
    justify-content: space-between;
    column-gap: 5rem;

    @media (max-width: 767px) {
      padding: 4rem;

      flex-direction: column-reverse;
      align-items: center;
      row-gap: 3rem;
    }
  }

  // .reviews-card__content

  &__content {
    display: flex;
    flex-direction: column;

    @media (min-width: 767.1px) {
      flex: 1 1 auto;
      min-height: 30rem;
    }
  }

  // .reviews-card__text

  &__text {
    position: relative;

    margin-bottom: auto;
    margin-top: auto;

    @media (max-width: 767px) {
      margin-bottom: 4rem;
      margin-top: 0;

      font-size: 2.4rem;
    }
  }

  // .reviews-card__name

  &__name {
    margin-bottom: 1rem;
  }

  // .reviews-card__date

  &__date {
    font: var(--txt-small);
    color: var(--c-gray);
  }

  // .reviews-card__image-wrap

  &__image-wrap {
    opacity: 0.6;

    @media (min-width: 767.1px) {
      flex: 0 0 28rem;
    }

    img {
      width: 28rem;
      height: 100%;

      object-fit: cover;
    }
  }
}
