.services {
  position: relative;

  overflow: hidden;

  @media (max-width: 767px) {
    .services__col:last-child::after {
      transform: none;
      animation: arrows-down 8.5s ease-in-out 1s infinite;
    }
    .services__col:first-child::after {
      transform: rotate(180deg);
      animation: arrows-up 8.5s ease-in-out 1s infinite;
    }
  }

  &__accordion-items {
    display: flex;
    flex-direction: column;
    width: 45.3rem;

    @media (max-width: 767px) {
      width: 57rem;
    }
  }

  // .services__container

  &__container {
    display: grid;
    column-gap: 3rem;
    height: 100%;

    @media (min-width: 767.1px) {
      grid-template-columns: repeat(3, 4fr);
    }

    @media (max-width: 767px) {
      position: relative;

      row-gap: 5rem;

      &.container {
        padding-bottom: 15rem;
      }

      &::before,
      &::after {
        content: '';

        position: absolute;
        z-index: -1;
        top: 0;

        width: 20rem;
        height: 136rem;

        background: url(@img/content/bg.svg) center / cover repeat;
        background-attachment: fixed;
      }
      &::before {
        left: -3.2rem;
      }
      &::after {
        right: -3.2rem;
      }
    }
  }

  // .services__col

  &__col {
    position: relative;

    padding: 12rem 0;

    display: flex;
    flex-direction: column;
    row-gap: 12rem;

    @media (max-width: 767px) {
      padding: 0;

      row-gap: 1rem;
      flex-direction: column-reverse;
    }

    &:first-child {
      @media (max-width: 767px) {
        order: 1;

        .services__accordion-items,
        &::after {
          @media (max-width: 767px) {
            margin-left: auto;
          }
        }
      }
      &::after {
        order: -1;

        animation: arrows-down 8.5s ease-in-out 1s infinite;
      }
      &::before {
        left: -12rem;

        height: 118rem;
      }
    }

    &::after {
      content: var(--i-arrows);

      width: 33.1rem;
      height: 13.5rem;

      @media (max-width: 767px) {
        padding: 3rem 0;

        width: 27rem;
        height: 15.5rem;
      }
    }

    &:last-child {
      &::after {
        transform: rotate(180deg);

        animation: arrows-up 8.5s ease-in-out 1s infinite;
      }
      .services__accordion-items,
      &::after {
        @media (min-width: 767.1px) {
          margin-left: auto;
        }
      }
      &::before {
        right: -14rem;

        width: calc(100% + 14rem);
      }
    }

    @media (min-width: 767.1px) {
      &::before {
        content: '';

        position: absolute;
        z-index: -1;
        top: 0;

        width: calc(100% + 12rem);
        height: 73rem;

        background: url(@img/content/bg.svg) center / contain repeat;
        background-attachment: fixed;
        background-size: 72rem;
        background-position-x: left;
      }
    }
  }

  // .services__accordion-item

  &__accordion-item {
  }

  // .services__center

  &__center {
    position: relative;

    padding-top: 15rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 5.8rem;

    @media (max-width: 767px) {
      margin-bottom: 1rem;

      order: -1;
      row-gap: 3rem;
    }
  }

  // .services__heading

  &__heading {
  }

  // .services__text

  &__text {
    max-width: 39.8rem;

    text-align: justify;

    @media (max-width: 767px) {
      max-width: 59.8rem;
    }
  }

  // .services__group

  &__group {
    @media (max-width: 767px) {
      display: none;
    }
  }

  // .services__btn

  &__btn {
  }
}

.accordion-item {
  border-bottom: 0.5px dashed var(--c-primary);

  &:nth-child(2n) {
    border-bottom: 0.5px dashed var(--c-gray);
  }

  // .accordion-item__head

  &__head {
    padding: 1.9rem 0;

    display: flex;
    align-items: center;
    width: 100%;

    @media (max-width: 767px) {
      padding: 2.5rem 0;
    }

    &._is-active {
      &::after {
        transform: rotate(-180deg);
      }
    }

    &::after {
      content: var(--i-angle-arrow);

      flex: 0 0 1.9rem;
      width: 1.9rem;
      height: 1.1rem;

      transition: transform 0.3s ease;

      @media (max-width: 767px) {
        flex: 0 0 2.5rem;
        width: 2.5rem;
        height: 4rem;
      }
    }
  }

  // .accordion-item__number

  &__number {
    margin-right: 3.7rem;

    flex: 0 0 2rem;
    width: 2rem;

    &::first-letter {
      color: var(--c-gray);
    }

    @media (max-width: 767px) {
      margin-right: 2.7rem;

      flex: 0 0 5rem;
      width: 5rem;
    }
  }

  // .accordion-item__heading

  &__heading {
    margin-right: auto;

    display: flex;
    align-items: center;
    column-gap: 3.1rem;

    font: var(--txt-semi);
    white-space: nowrap;

    &::before {
      content: var(--i-eye);

      flex: 0 0 7.5rem;
      width: 7.5rem;
      height: 4.2rem;

      @media (max-width: 767px) {
        flex: 0 0 8.5rem;
        width: 8.5rem;
        height: 5.2rem;
      }
    }
  }

  // .accordion-item__body

  &__body {
    display: grid;
    grid-template-rows: 0fr;

    transition: grid-template-rows 0.3s ease;
  }

  // .accordion-item__inner

  &__inner {
    overflow: hidden;
  }

  &__content {
    padding: 1.8rem 0 5.8rem 5.6rem;

    display: flex;
    flex-direction: column;
    row-gap: 2.8rem;

    @media (max-width: 767px) {
      padding: 0 0 6rem 0;
    }
  }

  // .accordion-item__text

  &__text {
    text-align: justify;
  }

  // .accordion-item__link

  &__link {
  }
}

@keyframes arrows-down {
  0% {
    transform: translateY(0rem);
  }

  50% {
    transform: translateY(-6rem);
  }
  100% {
    transform: translateY(0rem);
  }
}
@keyframes arrows-up {
  0% {
    transform: translateY(0rem) rotate(180deg);
  }

  50% {
    transform: translateY(6rem) rotate(180deg);
  }
  100% {
    transform: translateY(0rem) rotate(180deg);
  }
}
