.header {
  position: fixed;
  z-index: 100;
  top: 1.5rem;
  right: 1.5rem;

  padding: 0.8rem 1rem;

  display: flex;
  align-items: center;
  column-gap: 6rem;
  min-width: 51rem;
  border-radius: 0.6rem;

  background-color: var(--c-primary);

  &__logo {
    flex: 0 0 4rem;
    width: 4rem;
  }

  // .header__nav

  &__nav {
    display: flex;
    column-gap: 2rem;

    color: var(--c-bg);
  }

  // .header__link

  &__link {
    font: var(--txt-x-small);
  }
}
