.preloader {
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  user-select: none;

  background-color: var(--c-bg);

  transition: opacity 0.3s ease, visibility 0.3s ease;

  ._page-loaded & {
    opacity: 0;
    visibility: hidden;
  }

  // .preloader__container

  &__container {
    position: relative;

    height: 100%;
  }

  &__icons {
    position: absolute;
    top: 50%;
    left: 50%;

    display: flex;
    column-gap: 3.5rem;

    transform: translate(-50%, -50%);
  }

  &__icon {
    position: relative;

    flex: 0 0 3.5rem;
    width: 3.5rem;
    height: 3.5rem;

    animation-name: step-plus;
    animation-duration: 1.8s;
    animation-timing-function: step-end;
    animation-iteration-count: infinite;

    &:first-child {
      animation-delay: 0ms;
    }
    &:nth-child(2) {
      animation-delay: 0.3s;
    }
    &:nth-child(3) {
      animation-delay: 0.6s;
    }

    &::before {
      content: var(--i-plus);
    }
  }
}

.frame {
  position: fixed;
  z-index: 20;
  top: 0;
  left: 0;

  padding: 1.5rem;

  display: flex;
  width: 100%;
  height: 100dvh;

  pointer-events: none;

  &::before,
  &::after,
  &__inner::before,
  &__inner::after {
    content: '';

    position: absolute;

    width: 3rem;
    height: 3rem;
    border: 1px solid var(--c-primary);
  }

  &::before {
    top: 1rem;
    left: 1rem;

    border-right: none;
    border-bottom: none;
  }

  &::after {
    bottom: 1rem;
    right: 1rem;

    border-top: none;
    border-left: none;

    display: none;
  }

  // .frame__inner

  &__inner {
    height: 100%;
    width: 100%;

    &::before {
      top: 1rem;
      right: 1rem;

      border-left: none;
      border-bottom: none;

      display: none;
    }

    &::after {
      bottom: 1rem;
      left: 1rem;

      border-top: none;
      border-right: none;
    }
  }
}

@keyframes step-plus {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
