// -------------------------------- variables -------------------------------

:root {
  // colors
  --c-primary: #0d0d0d;
  // --c-bg: #f7fbff;
  // --c-bg: #e5eeff;
  // --c-bg: #eef3ff;
  --c-bg: #ffffff;
  --c-gray: #d2d6dc;
  --c-light-gray: #d2d5d9;
  --c-gray-dark: #595959;

  // font family
  --ff-main: 'Roobert SemiMono';

  // font size
  --fz-11: 1.1rem;
  --fz-12: 1.2rem;
  --fz-13: 1.3rem;
  --fz-14: 1.4rem;
  --fz-15: 1.5rem;
  --fz-16: 1.6rem;
  --fz-17: 1.7rem;
  --fz-18: 1.8rem;
  --fz-20: 2rem;
  --fz-22: 2.2rem;
  --fz-24: 2.4rem;
  --fz-25: 2.5rem;
  --fz-28: 2.8rem;
  --fz-30: 3rem;
  --fz-32: 3.2rem;
  --fz-40: 4rem;

  // typography
  --txt-large: 400 var(--fz-30) / 1 var(--ff-main);
  --txt-semi: 400 var(--fz-15) / 120% var(--ff-main);
  --txt-semi-sb: 500 var(--fz-15) / 120% var(--ff-main);
  --txt-main: 400 var(--fz-12) / 120% var(--ff-main);
  --txt-main-sb: 500 var(--fz-12) / 120% var(--ff-main);
  --txt-small: 400 var(--fz-11) / 120% var(--ff-main);
  --txt-small-sb: 500 var(--fz-14) / 2.2rem var(--ff-main);
  --txt-x-small: 400 var(--fz-12) / 2.2rem var(--ff-main);

  --h-heavy: 500 var(--fz-28) / 2rem var(--ff-main);
  --h-main: 400 var(--fz-24) / 1 var(--ff-main);
  --h-secondary: 400 var(--fz-20) / 2.5rem var(--ff-main);

  // svg
  --arrow-tr: url('data:image/svg+xml,<svg viewBox="0 0 17 13" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M7.18653 10.1579L10.0055 13L16.5 6.49999L10.0055 0L7.18653 2.84208L8.83554 4.49368H0.5V8.50632H8.83775L7.18653 10.1579Z" fill="%230D0D0D"/></svg>');
  --i-arr: url('data:image/svg+xml,<svg  viewBox="0 0 8 9" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M7.5 8.5V2L2 8.5H7.5Z" fill="black" stroke="black"/></svg>');
  --i-arr-enter: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 11 14" fill="none"><path d="M1 9H0.35V9.65H1V9ZM10.4596 9.45962C10.7135 9.20578 10.7135 8.79422 10.4596 8.54038L6.32304 4.40381C6.0692 4.14997 5.65765 4.14997 5.40381 4.40381C5.14996 4.65765 5.14996 5.0692 5.40381 5.32305L9.08076 9L5.40381 12.677C5.14996 12.9308 5.14996 13.3424 5.40381 13.5962C5.65765 13.85 6.0692 13.85 6.32304 13.5962L10.4596 9.45962ZM0.35 0V9H1.65V0H0.35ZM1 9.65H10V8.35H1V9.65Z" fill="%23090909"/></svg>');
  --i-plus: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 48 48"><path d="M 0 24.333 L 18.689 24.333 C 20 24.356 21.222 24.911 22.111 25.867 L 22.133 25.889 C 23.089 26.778 23.644 28.022 23.667 29.311 L 23.667 48 L 24.333 48 L 24.333 29.311 C 24.356 28 24.911 26.778 25.867 25.889 L 25.889 25.867 C 26.778 24.911 28.022 24.356 29.311 24.333 L 48 24.333 L 48 23.667 L 29.311 23.667 C 28 23.644 26.778 23.089 25.889 22.133 L 25.867 22.111 C 24.911 21.222 24.356 19.978 24.333 18.689 L 24.333 0 L 23.667 0 L 23.667 18.689 C 23.644 20 23.089 21.222 22.133 22.111 L 22.111 22.133 C 21.222 23.089 19.978 23.644 18.689 23.667 L 0 23.667 Z M 24 22 C 25.111 22 26 22.889 26 24 C 26 25.111 25.111 26 24 26 C 22.889 26 22 25.111 22 24 C 22 22.889 22.889 22 24 22 Z" fill="%230d0d0d"/></svg>');
  --i-arrows: url('data:image/svg+xml,<svg  viewBox="0 0 40 25" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M31.5743 10.606L22.7026 0.566768L29.1281 0.566406L38.0001 10.606H31.5743Z" stroke="black"/><path d="M31.5743 13.5986L22.7026 23.6378L29.1281 23.6382L38.0001 13.5986H31.5743Z" stroke="black"/><path d="M10.8717 10.606L2 0.566768L8.42546 0.566406L17.2974 10.606H10.8717Z" stroke="black"/><path d="M10.8717 13.5986L2 23.6378L8.42546 23.6382L17.2974 13.5986H10.8717Z" stroke="black"/></svg>');

  // sizes
  --b-radius: 0.6rem;
  --shadow: hsla(from var(--c-light-gray) h s calc(l - 36) / 0.24);
  --highlight: hsla(from var(--c-light-gray) h s calc(l + 16) / 0.24);

  // transitions
  --ease-out-cubic: cubic-bezier(0.215, 0.61, 0.355, 1);

  @media (max-width: 48em) {
    // typo
    --txt-large: 500 var(--fz-40) / 125% var(--ff-main);
    --txt-main: 400 var(--fz-20) / 125% var(--ff-main);
    --txt-main-sb: 500 var(--fz-20) / 125% var(--ff-main);
    --txt-small: 400 var(--fz-20) / 125% var(--ff-main);
    --txt-small-sb: 400 var(--fz-24) / 125% var(--ff-main);
    --txt-x-small: 400 var(--fz-17) / 125% var(--ff-main);
    --txt-semi: 500 var(--fz-22) / 125% var(--ff-main);

    --h-heavy: 600 var(--fz-40) / 125% var(--ff-main);
    --h-main: 500 var(--fz-25) / 125% var(--ff-main);
    --h-secondary: 500 var(--fz-24) / 125% var(--ff-main);

    // sizes
    --b-radius: 1.2rem;
  }
}

// ---------------------------------- fonts ---------------------------------

// google fonts
@import 'base/fonts';

// ------------------------------- base styles ------------------------------

// base scss
@import 'base/set';
@import 'base/header';
@import 'base/footer';
@import 'base/preloader';
@import 'base/dummy';

// lib
@import 'lib/swiper';
@import 'lib/videojs';

// common scss
@import 'common/btn';
@import 'common/typo';
@import 'common/form';
@import 'common/accordion';
@import 'common/layout';
@import 'common/nav';
// @import 'common/bg';

.portfolio-chapter__smth {
  background-color: var(--c-gray);
  border-radius: var(--b-radius);
  height: 45rem;
}
.wrapper {
  position: relative;
  // z-index: 2;

  // margin: 0 auto;

  // display: flex;
  // flex-direction: column;
  // flex: 1 1 auto;
  // max-width: 1920px;

  // overflow-x: clip;
  // background-color: var(--c-bg);
}

main {
  // flex: 1 1 auto;
}

html:not(._page-loaded) {
  overflow: hidden;
}

#twinkle-bg {
  transition: opacity 0.3s ease;
}
.lenis-scrolling #twinkle-bg,
._hide-bg #twinkle-bg {
  opacity: 0;
}

._show-menu {
  @media (max-width: 767px) {
    overflow: hidden;
  }
}

// --------------------------------------------------------------------------

// sections
@import 'sections/hero';
@import 'sections/about';
@import 'sections/footer-upper';
